h1{
    color: black;
    
}
h2{
    color: rgb(40, 48, 3);
}
.header-content, .water-charges, .search-form{
    text-align: center;

}
.water-charges{
    font-size: larger;
    margin: 30px 0;
    color: blueviolet;
    background-color: bisque;
    padding: 20px;
}
.search-form{
    margin: 10px;
    text-align: left;
}

.search-but{
    margin: 20px;
    background-color: burlywood;
    color: blueviolet;
    font-size: larger;
    padding: 5px 15px;
    border-radius: 4px;
}